<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name = "Test Suite" verbose="2">
<test name="Test Case">
<classes>
<class name="testNG.DriveCarPriorityLearning"/>
<class name="testNG.LearningDependency"/>
<class name="testNG.SampleTestCase"/>
<class name="testNG.SkipTestCase"/>
</classes>

</test>
</suite>